!!! Base Configuration for {{item.hostname}}!!
hostname {{item.hostname}}
!
cdp run
!
ip domain-lookup
!
ip domain-name {{item.domain_name}}
!
ip name-server {{item.dnsip}}
!
line con 0 
 login local
 logging synch
 exit
!
line vty 0 4
 login local
 transport input all
 exit
!
username {{item.username}}  priv 15 secret {{item.userpassword}}
!
int {{item.interfaceg0}}
 description ///{{item.interfaceg0desc}}\\\
 ip address {{item.g0ipaddress}}
 cdp enable
 no shut
 exit
!
int {{item.interfaceg1}}
 description ///{{item.interfaceg1desc}}\\\
 ip address {{item.g1ipaddress}}
 cdp enable
 no shut
 exit
!
int loop {{item.loopback0}}
 description ///{{item.loopbackMGMTdesc}}\\\
 ip address {{item.loopback0ip}}
 exit
 !
alias exec baseline event manager run BASELINE
!
alias exec internet event manager run INTERNET
!
alias exec interfaces event manager run INTERFACES
!
event manager session cli username {{item.username}} privilege 15
!
event manager applet BASELINE authorization bypass
 event none
 action 001 cli command "enable"
 action 002 cli command "conf t"
 action 003 cli command "default interface range {{item.interface_ra_gi}}"
 action 004 cli command "exit"
 action 005 cli command "show run | se router bgp"
 action 006 regexp "([0-9]+)" "$_cli_result" result bgp
 action 007 cli command "conf t"
 action 008 cli command "no router bgp $bgp"
 action 009 cli command "exit"
 action 010 cli command "show run | se router ospf"
 action 011 regexp "([0-9]+)" "$_cli_result" result ospf
 action 012 cli command "conf t"
 action 013 cli command "no router ospf $ospf"
 action 014 cli command "exit"
 action 015 cli command "show run | se router eigrp"
 action 016 regexp "([0-9]+)" "$_cli_result" result eigrp
 action 017 cli command "conf t"
 action 018 cli command "no router eigrp $eigrp"
 action 019 cli command "no router {{item.eigrp_name}}
 !
event manager applet INTERFACES authorization bypass
 event none
 action 001 cli command "enable"
 action 002 cli command "conf t"
 action 003 cli command "int {{item.interfaceg0}}"
 action 004 cli command "description ///{{item.interfaceg0desc}}\\"
 action 005 cli command "ip address {{item.g0ipaddress}}"
 action 006 cli command "cdp enable"
 action 007 cli command "no shut"
 action 008 cli command "int {{item.interfaceg1}}"
 action 009 cli command "description ///{{item.interfaceg1desc}}\\\"
 action 010 cli command "ip address {{item.g1ipaddress}}"
 action 011 cli command "cdp enable"
 action 012 cli command "no shut"
 action 013 cli command "int loop {{item.loopback0}}"
 action 014 cli command "description ///{{item.loopbackMGMTdesc}}\\\"
 action 015 cli command "ip address {{item.loopback0ip}}"
 exit
 !
file prompt qu
!
do copy running-config flash:{{item.flash_cfg}}
!
do wr
 
